footer {
  background: #ddd;
  display: flex;
  flex-flow: row;
  justify-content: space-around; }
  footer div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0px 0px;
    width: 100%;
    padding: 20px 100px; }
  footer p {
    font-weight: 600; }
  footer span {
    display: flex;
    flex-direction: row; }

#connect li {
  margin: 0px  15px 0px 0px; }

/*==========Media Queries==========*/
@media screen and (min-width: 945px) and (max-width: 1240px) {
  footer div {
    padding: 20px 75px; } }

@media screen and (min-width: 760px) and (max-width: 945px) {
  footer div {
    padding: 20px 50px; } }

@media only screen and (max-width: 760px) {
  footer div {
    flex-flow: column;
    padding: 20px 0px; } }
