footer {
	background: #acafaa;
}
footer div {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 0px auto;
	max-width: 100vh;
	padding: 0px 50px;
}
footer p {
	font-weight: 600;
}
footer img {
	height: 22px;
	width: 22px;
}
/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){}
@media screen and (min-width: 760px) and (max-width: 945px){}
@media only screen and (max-width: 760px) {
	footer div {
		flex-flow: column;
	}
}