header {
	display: flex;
	flex-direction: row;
	height: 80px;
	align-items: center;
	align-content: center;
	z-index: 2;
	padding: 0 18px;
	background: #fff;
}
header div {
	display: inline-block;
}
header img {
	width: 40px;
	height: 35px;
}
#site-name {
	text-align: center; 
	font-size: 30px;
	font-weight: 100; 
	font-family: 'Dosis', sans-serif;
}
.header-links {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.header-links a {
	margin: 0px 12px;
}
.header-hamburger {
	display: none;
}
#site-logo img {
	margin: 5px 10px;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){}
@media screen and (min-width: 760px) and (max-width: 945px){
	#brand-name {
		font-size: 28px;
	}
	header img {
		width: 35px;
		height: 30px;
	}
}
@media only screen and (max-width: 760px) {
	header {
		justify-content: space-between;
	}
	.header-links {
		display: none;
	}
	.header-hamburger {
		display: block;
	}
	#brand-name {
		font-size: 24px;
	}
	header img {
		width: 30px;
		height: 25px;
	}
}