#hero {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	height: 400px;
	text-align: left;
	margin: 0px 100px;
}
.hero-textbox {
	width: 30%;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){
	#hero {
		margin: 0px 75px;
	}
}
@media screen and (min-width: 760px) and (max-width: 945px){
	#hero {
		margin: 0px 50px;
	}
	.hero-textbox {
		width: 50%;
	}
}
@media only screen and (max-width: 760px) {
	#hero {
		align-items: center;
		text-align: center;
		margin: 0px 0px;
		padding: 0px 25px;
	}
	.hero-textbox {
		width: 100%;
	}
}