.package-module {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	min-height: 200px;
	max-height: 600px;
	/*padding: 2.5px 0px;*/
}
.package-module button {
	background: white;
	border: 1px solid #ddd;
	height: 150px;
	width: 250px;
	line-height: 0px;
}
.package-module img {
	width: 35px;
	height: 35px;
	padding: 0px 0px;
	margin: 0px 0px;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){}
@media screen and (min-width: 760px) and (max-width: 945px){
	.package-module {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.package-module button {
		flex: 1 50%;
	}
}
@media only screen and (max-width: 760px) {
	.package-module {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.package-module button {
		flex: 1 100%;
	}
}