button {
  background: #fac7c6;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 rgba(0, 1, 31, 0.05);
  color: #000;
  font-weight: 400;
  height: 50px;
  width: 175px;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

h2 {
  font-family: expo-brand-demi, sans-serif;
  color: rgba(0, 0, 32, 0.9);
  font-weight: 400;
  overflow-wrap: break-word;
  font-size: 1.7em;
  padding: 25px 0px;
  text-align: center;
  margin: 0 0;
}

h3 {
  font-size: 1.65em;
  font-weight: 300;
  padding: 25px 0;
  text-align: center;
  margin: 0 0;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p {
  font-size: 1.2em;
  padding: 0px 14px;
}

a {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #333;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

ul {
  list-style-type: none;
}

button a {
  justify-content: center;
}

button {
  font-size: 1em;
}

button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px #ddd;
}

/*==========Media Queries==========*/
