.sidebar {
  height: 35px;
  position: absolute;
  width: 100%; }
  .sidebar a {
    color: #000;
    font-size: 14px; }

.sidebar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%; }

#sidebar {
  display: none;
  z-index: -500; }

/*==========Media Queries==========*/
@media only screen and (max-width: 760px) {
  #sidebar {
    z-index: 500; } }
